.main{background: linear-gradient(90deg, #30E9A7 6.52%, #1AC4C0 100%);}
.bronze{background: linear-gradient(90deg, #DCF15C 6.52%, #9BD152 100%);}
.silver{background: linear-gradient(90deg, #CB86E3 6.52%, #8A7DD6 100%);}
.gold{background: linear-gradient(90deg, #E6DA6E 6.52%, #AF8F1A 100%);}
.platinum{background: linear-gradient(90deg, #2CD5DA 6.52%, #3CA6E4 100%);}
.vip{background: linear-gradient(90deg, #FD9960 6.52%, #ED6C67 100%);}

.main-border{border: 2px solid #00CA7E;}
.bronze-border{border: 2px solid #DCF15C;}
.silver-border{border: 2px solid #C469DE;}
.gold-border{border: 2px solid #D5C52A;}
.platinum-border{border: 2px solid #28C9CE;}
.vip-border{border: 2px solid #FE8A61;}

.main-price{color: #1DC8BE;}
.bronze-price{color: #DCF15C;}
.silver-price{color: #917ED5;}
.gold-price{color: #BC9F2D;}
.platinum-price{color: #38B3E2;}
.vip-price{color: #F68464;}