
.header {
    color: $fontsColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr max-content;
    place-items: center center;
    transition: all .5s ease-in-out;
    gap: 100px;
    padding: 0 20px;
    @media (max-width: 500px) {
        height: 60px;
    }
    @media (max-width: 1330px) {
        gap: 55px;
    }

    @media (max-width: 500px) {
        gap: 0;
    }


    &__container {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 1;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__logo {
        position: relative;
        z-index: 3;
        height: 70px;
        width: 200px;
        background-image: url("../../img/logo-white.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @media (max-width: 1440px) {
            width: 125px;
        }
        @media (max-width: 1000px) {
            height: 50px;
            width: 200px;

        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
}

.header._active {
    transition: all .5s ease-in-out;
    background: $header;

    @include headerShadow;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 1;

    }
}

.header .menu__link {
    color: #787474;
}

.header._active .menu__link {
    color: #000;
}

.header._active .header__logo {
    background-image: url("../../img/logo-black.png");
}

.header._active .menu__item.multi__menu {
    color: #000;
    @media (max-width: 991.98px) {
        color: #fff;
        display: inline-block;
        padding: 20px 0;
    }
    @media (max-width: 500px) {
        padding: 10px 0;
    }
}

.header._active .menu__item.multi__menu .menu__link {
    color: #fff;
}

.active-page {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 60%;
        height: 2px;
        background-color: $accent;
        @media (max-width: 1000px) {
            display: none;
        }
    }
}

.multi__link:hover {
    background: rgba(191, 213, 220, 0.5);
}

.menu {
    &__link.multi__link {
        color: #fff;
    }

    &__submenu {
        width: 100%;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 991px) {
            border-bottom: 1px solid #fff;
        }
    }

    &__multi-inner {
        margin-top: 20px;
        background: $accentHeader;
        border-radius: 0 10px 0 10px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 50%;
            transform: translateX(-30%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $accentHeader transparent;
            @media (max-width: 1000px) {
                display: none;
            }
        }
    }

    &__submenu a {
        width: 100%;
        display: inline-block;
        padding: 10px;
        @media (max-width: 1000px) {
            padding: 30px;
        }
        @media (max-width: 500px) {
            padding: 20px;
        }
    }

    &__submenu a:hover {
        background: rgba(191, 213, 220, 0.5);
    }

    &__submenu a.active {
        background: rgba(191, 213, 220, 0.5);
    }

    &__item.multi__menu {
        position: relative;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 700;
        color: #787474;
        transition: color .3s ease-in-out;

        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 500px) {
            font-size: 16px;
        }

        & span {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                width: 25px;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
                height: 10px;
                transform-origin: 30% 10%;
                background-image: url("../img/arrowDown.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__item.active.multi__menu:hover {
        color: $accent;
    }

    &__item.active.multi__menu span::after {
        width: 25px;
        right: -30px;
        height: 10px;
        background-image: url("../img/arrowUp.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;

    }

    &__multi {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        position: absolute;
        color: #fff;
        top: 15px;
        @media (max-width: 991.98px) {
            position: absolute;
            padding: 0;
            border-radius: 0;
            width: 100%;
            z-index: -1;
            height: 0;
        }
    }

    .multi__menu.active &__multi {
        transition: all .3s ease-in-out;
        @media (max-width: 991px) {
            height: 100%;
        }
    }

    &__multi &__item {
        padding: 5px 0;
        opacity: 1;
        transition: all .5s ease-in-out;
        @media (max-width: 991.98px) {
            height: 0;
            border-bottom: 1px solid #fff;
            width: 100%;

        }
    }

    &__item.active &__multi {
        opacity: 1;
        visibility: visible;
        display: block;
        transition: all .3s ease-in-out;
        @media (max-width: 991.98px) {
            position: relative;
            z-index: 1;
            top: -5px;
            height: 100%;
        }
    }

    &__item.active &__multi &__item {
        opacity: 1;
    }

    &__registrations.mobile {
        display: none;
        grid-template-columns: repeat(2, 100px);
        margin-left: 15px;
        font-size: 14px;
        place-items: center;

    }

    &__registrations.no-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 5;
        font-weight: 700;
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__icons {
        display: none;
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 4;
        align-items: center;
    }

    &__item {
        text-transform: uppercase;
        position: relative;
        margin-right: 40px;

        &:last-child {
            margin-right: 0px;
        }

        @media (max-width: 1330px) {
            margin-right: 25px;
        }
    }

    &__link {
        position: relative;
        font-weight: 700;
        color: #787474;
        font-size: 14px;
        @media (min-width: 1100px) {
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #000;
                transition: width 0.3s ease-in;
            }
            &:hover::after {
                width: 100%;
            }
        }
        @media (max-width: 991px) {
            font-size: 18px;
        }
        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__link._active {
        color: #1E9AC0 !important;
    }

    &__box {
        display: flex;
        align-items: center;
    }

}


.btn-tablet--transparent,
.btn-tablet--color {
    padding: 5px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    @media (max-width: 991px) {
        font-size: 18px;
    }
}

.btn-tablet--transparent {
    border-radius: 50px 0px 0px 50px;
    background: transparent;
    border: 1px solid #CECECE;
    color: #787474;
    font-weight: 700;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.btn-tablet--color {
    position: relative;
    color: #fff;
    font-weight: 700;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $accent;
        border-radius: 0px 50px 50px 0px;
        z-index: -1;
    }
}

.icon {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;

    @media (min-width: 991px) {
        margin-left: 20px;

    }

    &__registrations {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }

    &__text {
        margin-right: 10px;
    }

    &__img {
        margin-right: 30px;
        position: relative;
        z-index: 4;

        &:last-child {
            margin-right: 0px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $header;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease;
        }

        @media (max-width: 1282px) {
            &__img {
                margin-right: 10px;
            }
        }
        @media (max-width: 991px) {
            &__img {
                margin-right: 0px;
            }
        }
    }

    &__link {
        width: 100%;
        display: inline-block;
        padding: 10px;
        position: relative;
        z-index: 4;

    }

    &__link &__box {
        transition: all .4s ease-in;

    }

    &__link:hover &__box &__img svg {
        transition: all .4s ease-in;
    }

    &__link:hover &__box {
        background-color: #000;
        color: #fff;

    }

    &__link:hover &__box &__img svg {
        background-color: #fff;
        border-radius: 50%;

    }
}

@media (max-width: 500px) {
    .header {
        &__inner {
            padding: 5px 0;
        }
    }
}

@media (max-width: 991.98px) {
    .header._active .menu__link {
        color: #fff;
    }
    .header {
        &__inner {
            padding: 17px 0;
        }

        &__menu {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }
    .menu__icon span, .menu__icon::before, .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .header._active .menu__icon span, .menu__icon::before, .menu__icon::after {
        background-color: #000;
    }
    .menu__icon::before, .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
        background-color: #fff;
    }
    .menu__icon::after {
        bottom: 0;
        background-color: #fff;
    }
    .header._active .menu__icon::after {
        background-color: #000;
    }
    .header._active .menu__icon::before {
        background-color: #000;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu {
        &__icon {
            z-index: 5;
            display: block;
            position: absolute;
            width: 30px;
            height: 18px;
            margin-left: 30px;
            top: 50%;
            right: 125px;
            transform: translateY(-50%);
            @media (max-width: 1000px) {
                right: 175px;
            }
            @media (max-width: 500px) {
                right: 105px;
            }

            &._active span {
                transform: scale(0) translate(0px, -50%);
            }

            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }

            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }

        &__registrations.mobile {
            padding: 20px 0px;
            margin: 0px;
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, auto);
        }

        &__registrations.mobile .btn-tablet--transparent {
            color: #fff;
        }

        &__body {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: auto;
            color: #fff;
            text-align: center;
            opacity: 0;
            transition: all .8s ease-in-out;
            display: block;

            &._active {
                top: 0;
                left: 0;
                overflow-x: hidden;
                opacity: 1;
            }

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                min-height: 90px;
                top: 0;
                left: 0;
                background-color: #fff;
                z-index: 6;
                @media (max-width: 500px) {
                    min-height: 60px;
                }
            }
        }

        &__list {
            padding-top: 90px;
            width: 100%;
            height: 100%;
            display: block;
            @media (max-width: 500px) {
                padding-top: 75px;
            }
        }

        &__item {
            flex-wrap: wrap;
            margin: 0px 0px 0px 0px;
            width: 100%;
        }

        &__item ._active &__sub-list {
            display: block;

        }

        &__link {
            font-size: 14px;
            display: block;
            padding: 20px 0;
            transition: all 0.3s ease;
            color: #787474;
            @media (max-width: 500px) {
                padding: 10px 0;
            }
        }

        &__inner {
            margin: 0;

        }

    }
    .icon {
        margin: 20px 0px;
        display: none;

        &__img:last-child {
            margin-right: 10px;
        }

        &__link {
            padding: 0px;
            transition: transform .3s ease-in;

            &:active {
                transform: scale(.95);
            }
        }

    }
}

