<div class="menu__registrations mobile">
    <a data-company-login class="menu__btn motion" href="#">
        <span class="btn-motion-1"></span>
        <span class="btn-motion-2"></span>
        <div class="menu__login">
            <div class="icon__box">
                <p class="icon__text">Login</p>
            </div>
        </div>
    </a>
    <a data-company-register class="menu__btn motion" href="#">
        <span class="btn-motion-3"></span>
        <span class="btn-motion-4"></span>
        <div class="menu__reg">
            <div class="icon__box">
                <p class="icon__text">Registration</p>
            </div>
        </div>
    </a>
</div>

