<div class="menu__registrations mobile">
    <a class="menu__btn green-btn" data-company-login href="https://cfd.bitinvestgroup.io/">
        <div class="menu__login">
            <div class="icon__box">
                <p class="icon__text">Login</p>
            </div>
        </div>
    </a>
    <a class="menu__btn green-btn" data-company-register href="https://cfd.bitinvestgroup.io/register">
        <div class="menu__reg">
            <div class="icon__box">
                <p class="icon__text">Registration</p>
            </div>
        </div>
    </a>
</div>