<div class="table" id="table">
    <div class="table__inner">
        <div class="table__head">
            <div class="table__head-content">
                <h3 class="table__head-item">
                    Name
                </h3>
                <h3 class="table__head-item">
                    Symbol
                </h3>
                <h3 class="table__head-item">
                    Lot Size
                </h3>
                <h3 class="table__head-item">
                    Price
                </h3>
                <h3 class="table__head-item">
                    Change
                </h3>
            </div>
        </div>
        <div class="table__content" id="table-content">

        </div>
    </div>

</div>