.hero-gradient {
    background: radial-gradient(53.89% 53.89% at 59.58% 46.11%, #95D9FF 0%, #519EF1 100%);
    color: #fff;
    height: 100vh;

    &__text {
        margin: 40px 0;
        color: #fff;
        @media (max-width: 1440px) {
            margin: 20px 0;
        }
    }

    &__left {
        @media (max-width: 1000px) {
            text-align: center;
        }
    }

    &__right {
        @media (max-width: 1000px) {
            width: 60%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    &__container {
        height: 100%;
    }

    &__inner {
        height: 100%;
        align-items: center;
        @media (max-width: 1000px) {
            place-content: center;
            place-items: center;
            gap: 20px;
        }
    }
}